* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}


/* Start Header and landing*/


/* Start Header */

header .container .logo {
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: #222;
    font-size: 22px;
    font-weight: bold;
    font-family: cursive;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(158, 97, 160);
}

.navbar-light .navbar-nav .nav-link .icon {
    font-size: 20px;
    color: #777;
}


/* End Header */

a.link {
    color: black;
}

a.link:hover,
i:hover {
    color: rgb(158, 97, 160);
    cursor: pointer;
}

.caption-1 {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: cursive;
}

.caption-1 div a,
.caption-2 div a,
.caption-3 div a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 30px;
    background-color: rgb(168, 76, 172);
    border-radius: 10px;
    margin: 10px;
    opacity: 0.7;
}

.caption-1 div a:hover,
.caption-2 div a:hover,
.caption-3 div a:hover {
    opacity: 1;
}

.caption-2 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.caption-3 {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.caption-1 div,
.caption-2 div,
.caption-3 div {
    margin-top: 40px;
}

.landing {
    display: none;
}

@media(max-width:776px) {
    #carouselExampleControls {
        display: none;
    }
    header .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 80px;
        height: 30px;
        margin: 20px;
    }
    .link {
        padding: 5px;
        padding-top: 10px;
    }
    .landing {
        width: 100%;
        height: 100vh;
        background-image: url("../images/secand.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    h2 {
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 3px;
        color: rgb(65, 63, 63);
    }
    .landing div a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: white;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 10px;
        background-color: rgb(158, 97, 160);
        border-radius: 10px;
    }
}


/* End Header and landing */


/* Start Secand page */

.secand-page {
    width: 100%;
    background-color: #FAF0E4;
}

.secand-page container .icons p {
    width: 200px;
}

.secand-page .container .icons img {
    cursor: pointer;
    transition: 0.5s;
}

.secand-page .container .icons img:hover {
    transform: translate(0px, -10px)
}

.secand-page h4,
h3 {
    font-family: cursive;
}


/* Small */

@media(max-width:992px) {
    .secand-page .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .secand-page .container .head {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .secand-page .container .head h3 {
        text-align: center;
        font-weight: bold;
    }
    .secand-page .container .head p {
        text-align: center;
        margin-top: 20px;
    }
    .secand-page .container .icons {
        display: flex;
        flex-direction: column;
    }
    .secand-page .container .icons p {
        width: 250px;
    }
}


/* End Secand Page */


/* Start Skin Care page */

.skincare {
    width: 100%;
}

.skincare .container .icons p {
    opacity: 0.7;
}

.skincare .container .icons img {
    cursor: pointer;
    transition: 0.5s;
}

.skincare .container .icons img:hover {
    transform: translate(0px, -10px)
}

.skincare h4,
h3 {
    font-family: cursive;
}

.skincare a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skincare .center {
    width: 100%;
}

.skincare .center a h4 {
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px 0;
    background-color: rgb(158, 97, 160);
    border-radius: 10px;
    opacity: 0.7;
    margin: 20px;
    transition: 0.5s;
}

.skincare a h4:hover {
    opacity: 1;
}


/* Small */

@media(max-width:992px) {
    .skincare .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skincare .container .icons {
        display: flex;
        flex-direction: column;
    }
}


/* End Skin Care Page */


/* Start Contact page  */

.contact-page .container-fluid {
    padding: 50px;
    text-align: center;
    background-color: #FAF0E4;
}

.contact-page .container-fluid p.top {
    color: #1A1A1A;
    font-size: 30px;
    margin: 0 0 10px;
    font-weight: bold;
    font-family: cursive;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
}

.contact-page .container-fluid p.down {
    color: #6A6A6A;
    font-size: 16px;
    margin: 0 130px;
    font-family: cursive;
}

.contact-page .container-fluid .container-fluid {
    width: 100%;
    text-align: center;
}

.contact-page .container-fluid input {
    padding: 8px 10px;
    width: 40%;
    border: 1px solid #ebbaa9;
    outline: none;
}

.contact-page .container-fluid button {
    padding: 8px 10px;
    width: 13%;
    border: 1px solid #ebaba9;
    outline: none;
    background-color: #ebaba9;
    margin-left: -5px;
    transition: 0.8s;
}

.contact-page .container-fluid button:hover {
    background-color: lightgrey;
}

@media(max-width:990px) {
    .contact-page .container-fluid {
        padding: 30px;
    }
    .contact-page .container-fluid p.top {
        font-size: 25px;
        letter-spacing: 0.5px;
        word-spacing: 2.0px;
    }
    .contact-page .container-fluid p.down {
        font-size: 13px;
        margin: 0 100px;
    }
    .contact-page .container-fluid .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-page .container-fluid .container-fluid input {
        width: 70%;
    }
    .contact-page .container-fluid .container-fluid button {
        margin: 10px 0;
        width: 30%;
    }
}

@media(max-width:500px) {
    .contact-page .container-fluid p.top {
        font-size: 20px;
    }
    .contact-page .container-fluid p.down {
        font-size: 13px;
        margin: 0 60px;
    }
    .contact-page .container-fluid .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-page .container-fluid .container-fluid input {
        width: 100%;
    }
    .contact-page .container-fluid .container-fluid button {
        margin: 10px 0;
        width: 50%;
    }
}


/* End Contact Page */


/* Start Third Page */

.products .container .row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.products h3.head {
    font-family: cursive;
}

.products .container .head {
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(65, 63, 63);
}

.row img {
    border-radius: 50%;
    box-shadow: 5px 5px 50px rgb(200, 161, 228);
    cursor: pointer;
    transition: 0.5s;
}

.row img:hover {
    transform: translate(0px, -10px);
    box-shadow: 5px 5px 50px rgb(158, 97, 160);
}

.row .center h3:hover {
    opacity: 1;
    cursor: pointer;
}

.row .center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .center h3 {
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px 0;
    background-color: rgb(158, 97, 160);
    border-radius: 10px;
    opacity: 0.7;
    margin: 20px;
    transition: 0.5s;
}

.third-page .row h4 {
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}

@media(max-width:990px) {
    .third-page .products .containe {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }
    .third-page .container .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .third-page .container .row div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row img {
        border-radius: 50%;
        box-shadow: 5px 5px 50px rgb(200, 161, 228);
        cursor: pointer;
        transition: 0.5s;
        width: 300px;
        height: 300px;
        margin-top: 20px;
    }
    .row h4 {
        width: 200px;
    }
    .row h3 {
        margin-left: 10px;
        margin-bottom: 50px;
    }
}


/* End Third Page */


/* Strat Fourth Page */

.fourth-page {
    width: 100%;
    background-color: lightgray;
}

.fourth-page .container .head h3 {
    font-size: 18px;
}

.fourth-page .container .head p {
    width: 550px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: monospace;
}

.fourth-page .container .icons img {
    transition: 0.3s;
}

.fourth-page .container .icons img:hover {
    transform: translate(0, -10px);
}

@media(max-width:767px) {
    .fourth-page .container .head p {
        width: 350px;
    }
    .fourth-page .container .icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* End Pourth Page */


/* Start Footer */

footer {
    background-color: #333;
    color: white;
}

footer .container ul li a {
    color: white;
}

footer .container ul li a:hover {
    color: rgb(200, 161, 228);
}

footer .container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .container .about,
footer .container .Information,
footer .container .Support,
footer .container .Help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
}

footer .container .about h4,
footer .container .Information h4,
footer .container .Support h4,
footer .container .Help h4 {
    color: rgb(200, 161, 228);
    transition: 0.5s;
    font-family: cursive;
    line-height: 2;
}

footer .container .about h4:hover,
footer .container .Information h4:hover,
footer .container .Support h4:hover,
footer .container .Help h4:hover {
    transform: translate(0, -10px);
    cursor: pointer;
}

.copyrights {
    width: 100%;
    height: 50px;
    background-color: gray;
    color: white;
}

@media(max-width:766px) {
    footer .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    footer .container .about,
    footer .container .Information,
    footer .container .Support,
    footer .container .Help {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}


/* End Footer */